<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>Know your R&M</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    
    <body>
 
        <header class="header">
            <div class="wrapper">
                <br>
                <h1 style="text-align: center;font-family: rick;">Know your R&M</h1>
            </div>
            
        </header>

    
        <div class="main">
            <div class="wrapper">
              <h3 style="text-align: center;"><a href="/">Main characters</a></h3>
              <h3 style="text-align: center;"><a href="/secondary">>>>Secondary characters</a></h3>
                <div class="clearfix">
                    
                    
                </div>
                <div class="houses">
                    <table class="default">

                        <table class="default">

                            <tr>
                          
                              <th>Name</th>
                          
                              <th>Status</th>
                          
                              <th>Gender</th>
                          
                            </tr>
                          
                            <tr>
                          
                              <td>{{characters1[10][1]}}</td>
                          
                              <td>{{characters1[10][2]}}</td>
                          
                              <td>{{characters1[10][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[10][4]}}" alt="rm">

                          
                          </table>
                </div>
                <div class="houses">
                    <table class="default">

                        <table class="default">

                            <tr>
                          
                              <th>Name -- </th>
                          
                              <th>Status -- </th>
                          
                              <th>Location</th>
                          
                            </tr>
                          
                            <tr>
                          
                              <td>{{characters1[11][1]}}</td>
                          
                              <td>{{characters1[11][2]}}</td>
                          
                              <td>{{characters1[11][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[11][4]}}" alt="rm">
                          
                          </table>
                </div>
                <div class="houses">
                    <table class="default">

                        <table class="default">

                            <tr>
                          
                              <th>Name</th>
                          
                              <th>Status</th>
                          
                              <th>Location</th>
                          
                            </tr>
                          
                            <tr>
                          
                              <td>{{characters1[12][1]}}</td>
                          
                              <td>{{characters1[12][2]}}</td>
                          
                              <td>{{characters1[12][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[12][4]}}" alt="rm">

                          
                          </table>
                </div>


            <div class="houses">
                <table class="default">

                    <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                        <tr>
                      
                          <td>{{characters1[13][1]}}</td>
                          
                          <td>{{characters1[13][2]}}</td>
                      
                          <td>{{characters1[13][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[13][4]}}" alt="rm">

                      
                      </table>
            </div>
            <div class="houses">
                <table class="default">

                    <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                        <tr>
                      
                          <td>{{characters1[14][1]}}</td>
                          
                          <td>{{characters1[14][2]}}</td>
                      
                          <td>{{characters1[14][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[14][4]}}" alt="rm">

                      
                      </table>
            </div>
            <div class="houses">
                <table class="default">

                  <table class="default">

                    <tr>
                  
                      <th>Name</th>
                  
                      <th>Status</th>
                  
                      <th>Location</th>
                  
                    </tr>
                  
                    <tr>
                  
                      <td>{{characters1[15][1]}}</td>
                      
                      <td>{{characters1[15][2]}}</td>
                  
                      <td>{{characters1[15][3]}}</td>
                  
                    </tr>
                    <img src="{{characters1[15][4]}}" alt="rm">

                  
                  </table>
            </div>
            <div class="houses">
                <table class="default">

                    <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                        <tr>
                      
                          <td>{{characters1[16][1]}}</td>
                          
                          <td>{{characters1[16][2]}}</td>
                      
                          <td>{{characters1[16][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[16][4]}}" alt="rm">

                      
                      </table>
            </div>
            <div class="houses">
                <table class="default">

                    <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                         <td>{{characters1[17][1]}}</td>
                          
                          <td>{{characters1[17][2]}}</td>
                      
                          <td>{{characters1[17][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[17][4]}}" alt="rm">

                      
                      </table>
            </div>
            <div class="houses">
                <table class="default">

                    <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                        <tr>
                      
                          <td>{{characters1[18][1]}}</td>
                          
                          <td>{{characters1[18][2]}}</td>
                      
                          <td>{{characters1[18][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[9][4]}}" alt="rm">

                      
                      </table>
            </div>
            <div class="houses">
                <table class="default">

                    <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                        <tr>
                      
                          <td>{{characters1[19][1]}}</td>
                          
                          <td>{{characters1[19][2]}}</td>
                      
                          <td>{{characters1[19][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[19][4]}}" alt="rm">

                      
                      </table>
            </div>

                
                </div>
                </div>
                
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </var>
    <footer class="footer">
        <div class="wrapper">
            <p>&copy; <a href="#">David Lopez
            </a>. All rights reserved 2022.</p>
        </div>
    </footer>

</body>
</html>