<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>Know your R&M</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        
    </head>
    
    <body>
 
        <header class="header">
            <div class="wrapper">
                <br>
                <h1 style="text-align: center;font-family: rick;">Know your R&M</h1>
            </div>
            
        </header>

    
        <div class="main">
            <div class="wrapper">
              <h3 style="text-align: center;"><a href="/">>>>Main characters</a></h3>
              <h3 style="text-align: center;"><a href="/secondary">Secondary characters</a></h3>
                <div class="clearfix">
                    
                    
                    </div>
                    <div class="houses">
                        <table class="content-table">

                            <table class="default">

                                <tr>
                              
                                  <th>Name</th>
                              
                                  <th>Status</th>
                              
                                  <th>Gender</th>
                              
                                </tr>
                              
                                <tr>
                              
                                  <td>{{characters1[0][1]}}</td>
                              
                                  <td>{{characters1[0][2]}}</td>
                              
                                  <td>{{characters1[0][3]}}</td>
                              
                                </tr>
                                <img src="{{characters1[0][4]}}" alt="rm">

                              
                              </table>
                    </div>
                    <div class="houses">
                      <table class="content-table">

                            <table class="default">

                                <tr>
                              
                                  <th>Name</th>
                              
                                  <th>Status</th>
                              
                                  <th>Location</th>
                              
                                </tr>
                              
                                <tr>
                              
                                  <td>{{characters1[1][1]}}</td>
                              
                                  <td>{{characters1[1][2]}}</td>
                              
                                  <td>{{characters1[1][3]}}</td>
                              
                                </tr>
                                <img src="{{characters1[1][4]}}" alt="rm">
                              
                              </table>
                    </div>
                    <div class="houses">
                      <table class="content-table">

                            <table class="default">

                                <tr>
                              
                                  <th>Name</th>
                              
                                  <th>Status</th>
                              
                                  <th>Location</th>
                              
                                </tr>
                              
                                <tr>
                              
                                  <td>{{characters1[2][1]}}</td>
                              
                                  <td>{{characters1[2][2]}}</td>
                              
                                  <td>{{characters1[2][3]}}</td>
                              
                                </tr>
                                <img src="{{characters1[2][4]}}" alt="rm">

                              
                              </table>
                    </div>


                <div class="houses">
                  <table class="content-table">

                        <table class="default">

                            <tr>
                          
                              <th>Name</th>
                          
                              <th>Status</th>
                          
                              <th>Location</th>
                          
                            </tr>
                          
                            <tr>
                          
                              <td>{{characters1[3][1]}}</td>
                              
                              <td>{{characters1[3][2]}}</td>
                          
                              <td>{{characters1[3][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[3][4]}}" alt="rm">

                          
                          </table>
                </div>
                <div class="houses">
                  <table class="content-table">

                        <table class="default">

                            <tr>
                          
                              <th>Name</th>
                          
                              <th>Status</th>
                          
                              <th>Location</th>
                          
                            </tr>
                          
                            <tr>
                          
                              <td>{{characters1[4][1]}}</td>
                              
                              <td>{{characters1[4][2]}}</td>
                          
                              <td>{{characters1[4][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[4][4]}}" alt="rm">

                          
                          </table>
                </div>
                <div class="houses">
                  <table class="content-table">

                      <table class="default">

                        <tr>
                      
                          <th>Name</th>
                      
                          <th>Status</th>
                      
                          <th>Location</th>
                      
                        </tr>
                      
                        <tr>
                      
                          <td>{{characters1[5][1]}}</td>
                          
                          <td>{{characters1[5][2]}}</td>
                      
                          <td>{{characters1[5][3]}}</td>
                      
                        </tr>
                        <img src="{{characters1[5][4]}}" alt="rm">

                      
                      </table>
                </div>
                <div class="houses">
                  <table class="content-table">

                        <table class="default">

                            <tr>
                          
                              <th>Name</th>
                          
                              <th>Status</th>
                          
                              <th>Location</th>
                          
                            </tr>
                          
                            <tr>
                          
                              <td>{{characters1[6][1]}}</td>
                              
                              <td>{{characters1[6][2]}}</td>
                          
                              <td>{{characters1[6][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[6][4]}}" alt="rm">

                          
                          </table>
                </div>
                <div class="houses">
                  <table class="content-table">

                        <table class="default">

                            <tr>
                          
                              <th>Name</th>
                          
                              <th>Status</th>
                          
                              <th>Location</th>
                          
                            </tr>
                          
                             <td>{{characters1[7][1]}}</td>
                              
                              <td>{{characters1[7][2]}}</td>
                          
                              <td>{{characters1[7][3]}}</td>
                          
                            </tr>
                            <img src="{{characters1[7][4]}}" alt="rm">

                          
                          </table>
                </div>
                <div class="houses">
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </var>
        <footer class="footer">
            <div class="wrapper">
                <p>&copy; <a href="#">David Lopez
                </a>. All rights reserved 2022.</p>
            </div>
        </footer>

    </body>
</html>